

<div class="container border">
  <h5>Assignments</h5>
  <table class="table table-hover table-bordered">
    <thead>

     <tr>
        <th>Assignment</th>
        <th>Subject</th>
        <th>Subject No</th>
        <th>Date issued</th>
        <th>Due date</th>
        <th>Teacher</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Assignment 1</td>
        <td>Mat</td>
        <td>Mat 1101</td>
        <td>27/03/2020</td>
        <td>2/04/2020</td>
        <td>David John</td>
        <td><i class="fa fa-download " style="color:blue" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td>Assignment 1</td>
        <td>Mat</td>
        <td>Mat 1101</td>
        <td>27/03/2020</td>
        <td>2/04/2020</td>
        <td>David John</td>
        <td><i class="fa fa-download " style="color:blue" aria-hidden="true"></i></td>
      </tr>
       <tr>
        <td>Assignment 1</td>
        <td>Mat</td>
        <td>Mat 1101</td>
        <td>27/03/2020</td>
        <td>2/04/2020</td>
        <td>David John</td>
        <td><i class="fa fa-download " style="color:blue" aria-hidden="true"></i></td>
      </tr>
       <tr>
        <td>Assignment 1</td>
        <td>Mat</td>
        <td>Mat 1101</td>
        <td>27/03/2020</td>
        <td>2/04/2020</td>
        <td>David John</td>
        <td><i class="fa fa-download " style="color:blue" aria-hidden="true"></i></td>
      </tr>
       <tr>
        <td>Assignment 1</td>
        <td>Mat</td>
        <td>Mat 1101</td>
        <td>27/03/2020</td>
        <td>2/04/2020</td>
        <td>David John</td>
        <td><i class="fa fa-download " style="color:blue" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
</div>



